{"swagger":"2.0","info":{"description":"","version":"0.1.0_inProgress","title":"API Gastronoslim","x-logo":{"url":"/redoc/logo.png","backgroundColor":"#FFFFFF"}},"host":"api.orange.com","basePath":"/","schemes":["http"],"consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"tags":[{"name":"User","description":""},{"name":"Authent","description":""},{"name":"Restaurant","description":""},{"name":"Dish","description":""},{"name":"Comentary","description":""}],"paths":{"/user/{id}":{"get":{"tags":["User"],"operationId":"userGet","summary":"Recuperation des infos de mon compte","description":"le token d'authen permet de recuperer le current_user.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":""}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/User"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}},"put":{"tags":["User"],"operationId":"userUpdate","summary":"modification d'un utilisateur","description":"Modification du profil d'un utilisateur PourMiam'.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":""},{"name":"User","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/User"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/User"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/authent/login":{"post":{"tags":["Authent"],"operationId":"authentLogin","summary":"Get a valid token with credentials.","description":"Authentification d'un utilisateur Cobiz. Password en clair, encryptée en bcrypt(13) coté base de données\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"email","required":false,"in":"query","description":"","type":"string","format":"email"},{"name":"password","required":false,"in":"query","description":"","type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/authent/reset":{"post":{"tags":["Authent"],"operationId":"authentReset","summary":"Demande de changement d'un mot de passe utilisateur. (forgot password)","description":"Reset du mot de passe d'un utilisateur PourMiam'.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"email","required":false,"in":"query","description":"","type":"string","format":"email"}],"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/authent/{token}/resetconfirm":{"post":{"tags":["Authent"],"operationId":"authentResetconfirm","summary":"modification du mot de passe d'un utilisateur.","description":"Modification du Password d'un utilisateur PourMiam'. Password en clair, encryptée en bcrypt(13) coté base de données.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"token","in":"path","required":true,"type":"string","description":""}],"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/authent/init":{"post":{"tags":["Authent"],"operationId":"authentInit","summary":"Create a temporary account.","description":"Create temp account for user with status='init'\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/authent/{token}/initconfirm":{"post":{"tags":["Authent"],"operationId":"authentInitconfirm","summary":"Confirm account creation.","description":"status='confirm', user now valid ( bconfirm = true ?)\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"token","in":"path","required":true,"type":"string","description":""}],"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/restaurant":{"post":{"tags":["Restaurant"],"operationId":"restaurantCreate","summary":"Creation d'un restaurant.","description":"Creation dans la base local d'unrestaurant\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"Restaurant","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/Restaurant"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Restaurant"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}},"get":{"tags":["Restaurant"],"operationId":"restaurantFind","summary":"Recherche des restaurant par nom ou par ville","description":"Recherche de restaurant dans la base Local avec le debut du nom ou la ville.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"city","required":false,"in":"header","description":"","type":"string"},{"name":"name","required":false,"in":"header","description":"","type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Restaurant"}}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/restaurant/{id}":{"get":{"tags":["Restaurant"],"operationId":"restaurantGet","summary":"Recherche d'un restaurant.","description":"Recuperation des infos d'un restaurant\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":""}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Restaurant"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}},"put":{"tags":["Restaurant"],"operationId":"restaurantUpdate","summary":"Modification des information d'un restaurant.","description":"modification des infos d'un restaurant.\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":""},{"name":"Restaurant","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/Restaurant"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Restaurant"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/dish":{"post":{"tags":["Dish"],"operationId":"dishCreate","summary":"creation des plats.","description":"creation d'un plat dans la database local\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"Dish","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/Dish"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Dish"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/comentary":{"post":{"tags":["Comentary"],"operationId":"comentaryCreate","summary":"create a commentary","description":"create a commentary\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"Comentary","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/Comentary"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Comentary"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}},"get":{"tags":["Comentary"],"operationId":"comentaryFind","summary":"find comentary","description":"find comentary\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"idrestaurant","required":false,"in":"query","description":"","type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Comentary"}}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}},"/comentary/{comentaryId}":{"put":{"tags":["Comentary"],"operationId":"comentaryUpdate","summary":"Update a comentary","description":"Update a comentary\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"comentaryId","in":"path","required":true,"type":"string","description":""},{"name":"Comentary","required":true,"in":"body","description":"","schema":{"$ref":"#/definitions/Comentary"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Comentary"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}},"delete":{"tags":["Comentary"],"operationId":"comentaryDelete","summary":"delete a comentary","description":"delete a comentary\n\nSpecific business errors for current operation will be encapsulated in\n\nHTTP Response 422 Unprocessable entity\n","deprecated":false,"parameters":[{"name":"comentaryId","in":"path","required":true,"type":"string","description":""}],"responses":{"200":{"description":"Success","schema":{"type":"file"}},"400":{"description":"Bad Request\n\nList of supported error codes:\n- 20: Invalid URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string parameter value","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized\n\nList of supported error codes:\n- 40: Missing credentials\n- 41: Invalid credentials\n- 42: Expired credentials","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found\n\nList of supported error codes:\n- 60: Resource not found","schema":{"$ref":"#/definitions/Error"}},"422":{"description":"Unprocessable entity\n\nFunctional error","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"ErrorDetail":{"description":"","required":["code","message"],"type":"object","properties":{"code":{"description":"","type":"integer","format":"int32"},"message":{"description":"","type":"string"},"description":{"description":"","type":"string"},"infoURL":{"description":"","type":"string"}}},"Error":{"description":"","required":["code","message"],"type":"object","properties":{"code":{"description":"","type":"integer","format":"int32"},"message":{"description":"","type":"string"},"description":{"description":"","type":"string"},"infoURL":{"description":"","type":"string"},"details":{"type":"array","items":{"$ref":"#/definitions/ErrorDetail"}}}},"User":{"description":"User of the app","discriminator":"id","required":["id","lastname","firstname","signindate","email"],"type":"object","properties":{"id":{"description":"","type":"integer","format":"int32"},"lastname":{"description":"","type":"string"},"firstname":{"description":"","type":"string"},"signindate":{"description":"","type":"string","format":"date"},"email":{"description":"","type":"string","format":"email"}}},"Comentary":{"description":"","discriminator":"id","required":["id","textcomment","comment_date"],"type":"object","properties":{"id":{"description":"","type":"string"},"note":{"description":"","type":"boolean"},"textcomment":{"description":"","type":"string"},"comment_date":{"description":"","type":"string","format":"date-time"}}},"Dish":{"description":"","required":["id","name","description"],"type":"object","properties":{"id":{"description":"","type":"integer","format":"int32"},"name":{"description":"","type":"string"},"description":{"description":"","type":"string"},"photo":{"description":"","type":"string"}}},"Restaurant":{"description":"","discriminator":"id","required":["id","name","adresse","city","zip_code"],"type":"object","properties":{"id":{"description":"","type":"integer","format":"int32"},"name":{"description":"","type":"string"},"owner":{"$ref":"#/definitions/User"},"adresse":{"description":"","type":"string"},"city":{"description":"","type":"string"},"zip_code":{"description":"","type":"string"},"tel":{"description":"","type":"string"},"description":{"description":"","type":"string"},"email":{"description":"","type":"string","format":"email"}}},"Authent":{"description":"","type":"object","properties":{}}}}